{% extends "base.html" %} 

{% block page_title %}
    Listagem de Chamados
{% endblock page_title %} 

{% block content %}
    <h1>Listagem de Chamados</h1>
    {% if chamados_list %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Título</th>
                <th scope="col">Descrição</th>
                <th scope="col">Data Criação</th>
                <th scope="col">Categoria</th>
                <th scope="col">Data Encerramento</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for chamado in chamados_list %}
            <tr>
                <th scope="row">{{ chamado.pk }}</th>
                <td>{{ chamado.titulo }}</td>
                <td>{{ chamado.descricao }}</td>
                <td>{{ chamado.criado_em }}</td>
                <td>{{ chamado.get_categoria_display }}</td>
                <td>{{ chamado.encerrado_em|default:"-" }}</td>
                <td><a href="#" class="btn btn-success btn-sm">Concluir</a></td>
                <td><a href="#" class="btn btn-danger btn-sm">Excluir</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>Não há chamados na fila</p>
    {% endif %}

    <a href="{% url 'chamados_create' %}" class="btn btn-success mb-3">Novo Chamado</a>
{% endblock content %}
